doctype html
html
    head
        title Person
    body
        form(action = "/person", method = "POST")
            div
                label Name:
                input(name = "name")
            br
            div
                label Age:
                input(name = "age")
            br
            div
                label Nationality:
                input(name = "nationality")
            br
            button(type = "Submit") Create new Person